.BaseLine
{
    height: 70px;
    width: 568px;
    clear: both;
    border-top: 1px solid black;
    border-right: 1px solid black;
    overflow: hidden;
    background-color: #c0c0c0;
}

.ChessBoard
{
float:right;
}

.ColorB
{
    background-color: #c0c0c0;
}

.ColorW
{
    background-color: white;
}

.ColorV
{
    background-color: #C8FAB8;
}


.BaseLineBottom
{
    border-bottom: 1px solid black;
}

.BaseBox
{
    height: 70px;
    width: 70px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    border-left: 1px solid black;
}

.BaseBox:hover
{
    background-color:#FEFFCE;
    cursor: pointer;
}


/* Black ---------------------------- */
.BlackTower
{
    background-image: url(../Players/black_rook.png);
}

.BlackHorse
{
    background-image: url(../Players/black_knight.png);
}

.BlackBishop
{
    background-image: url(../Players/black_bishop.png);
}

.BlackQueen
{
    background-image: url(../Players/black_queen.png);
}

.BlackKing
{
    background-image: url(../Players/black_king.png);
}

.BlackPawn
{
    background-image: url(../Players/black_pawn.png);
}

/* White ---------------------------- */
.WhiteTower
{
    background-image: url(../Players/white_rook.png);
}

.WhiteHorse
{
    background-image: url(../Players/white_knight.png);
}

.WhiteBishop
{
    background-image: url(../Players/white_bishop.png);
}

.WhiteQueen
{
    background-image: url(../Players/white_queen.png);
}

.WhiteKing
{
    background-image: url(../Players/white_king.png);
}

.WhitePawn
{
    background-image: url(../Players/white_pawn.png);
}

/* Hacks --------------*/
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/*-------- debug --------- */
.DebugBox
{
    width:408px;
    text-align:center;
    float:right;
}

.DebugInfo
{
    width:70%;
}

.PlayerBox
{
    margin-right:auto;
    margin-left:auto;
    
    width:300px;
    overflow:hidden;
    clear:both;
}

.PlayerBox1
{

    width:90%;
    margin:5px;
    height:60px;
    text-align:center;
}

.PlayerBox2
{
    width:90%;
    margin:5px;
    height:60px;
}


.PlayerBox1_img
{
float:left;
text-align:left;
}

.PlayerBox2_img
{
float:right;

text-align:right;
}


footer
{
clear:both;
width:100%;
text-align:center;
margin-top:20px;
}